.formats {
  padding: 120px 0;
  position: relative;

  &__title {
    text-align: center;
    margin-bottom: 60px;
  }

  &-row {
    display: flex;
    column-gap: 40px;
  }

  &-card {
    max-width: 360px;
    width: 100%;

    .img-wrapper {
      position: relative;
      display: flex;
      margin-bottom: 32px;

      &__bg {
        width: 100%;
      }

      &__push {
        display: flex;
        padding: 9px;
        position: absolute;
        border-radius: 6px;
        background: linear-gradient(
            247deg,
            rgba(255, 106, 231, 0) -17.36%,
            rgba(255, 106, 231, 0.54) 22.55%,
            rgba(255, 106, 231, 0) 64.61%
          ),
          linear-gradient(248deg, #ff7d1f 0%, #fe3c00 64.31%);
        backdrop-filter: blur(52.320953369140625px);

        h5 {
          color: white;
          font-feature-settings: "calt" off;

          font-size: 14px;
          font-weight: 600;
          line-height: 150%;
          letter-spacing: -0.14px;
        }
        p {
          color: white;
          font-size: 12px;
          font-weight: 400;
          line-height: 120%;
        }
      }

      &__icon {
        width: 24px;
        height: 24px;
        margin-right: 8px;
      }

      .push-1 {
        width: 263px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        p {
          text-align: start;
        }
      }

      .push-2 {
        width: 263px;
        padding: 16px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        flex-direction: column;
        align-items: center;

        .img-wrapper__icon {
          margin-bottom: 7px;
          margin-right: 0;
        }

        .img-wrapper__text {
          text-align: center;
          margin-bottom: 15px;
        }

        .img-wrapper__btn {
          padding: 4.8px 9.6px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 27.6px;
          border: 1px solid white;
          color: white;
          font-feature-settings: "calt" off;

          font-size: 9px;
          font-weight: 600;
        }

        svg {
          position: absolute;
          top: 6px;
          right: 6px;
        }
      }

      .push-3 {
        width: 200px;
        top: 50%;
        left: 59%;
        transform: translate(-50%, -50%);

        p {
          text-align: start;
        }
      }
    }

    h4 {
      color: white;
      text-align: center;

      font-size: 32px;
      font-weight: 700;
      line-height: 130%;

      margin-bottom: 24px;
    }
    p {
      color: $gray-text;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: -0.16px;
    }
  }

  @media (max-width: $tablet) {
    padding: 0 0 60px;
    margin-top: 60px;

    &__title {
      margin-bottom: 40px;
    }

    &-row {
      flex-direction: column;
      align-items: center;
      row-gap: 40px;
    }

    &-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 100%;

      img {
        max-width: 360px;
        margin-bottom: 24px;
      }
    }
  }

  @media (max-width: $mobile) {
    padding: 0 0 40px;

    &__title {
      margin-bottom: 24px;
    }

    &-row {
      row-gap: 32px;
    }

    &-card {
      img {
        max-width: 450px;
        margin-bottom: 12px;
      }

      h4 {
        font-size: 20px;
        line-height: 140%;
        margin-bottom: 8px;
      }

      p {
        font-size: 14px;
        line-height: 150%;
        letter-spacing: -0.14px;
      }

      .img-wrapper {
        .push-1,
        .push-2 {
          width: 210px;
        }

        .push-2 {
          padding: 12.8px;

          .img-wrapper__btn {
            font-size: 8px;
            padding: 4px 7px;
          }
          .img-wrapper__text {
            margin-bottom: 14px;
          }
        }

        .push-3 {
          width: 160px;
          left: 58%;
        }

        &__push {
          padding: 7.81px;
        }

        &__icon {
          width: 19.2px;
          height: 19.2px;
        }

        &__text {
          h5 {
            font-size: 11.2px;
            font-weight: 600;
            line-height: 150%;
            letter-spacing: -0.112px;
          }
          p {
            font-size: 9.6px;
            font-weight: 400;
            line-height: 120%;
          }
        }

        &__icon {
          margin-right: 6.6px;
        }
      }
    }
  }
}
